body {
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
  margin: 0px;
}

.room-homepage-container {
  display: grid;
  height: 100vh;
  grid-template-columns:  repeat(7 , 1fr);
  grid-template-rows: repeat(3 , 1fr);
  grid-template-areas: "principal principal principal principal description description description"
   "principal principal principal principal description description description"
   "image1 image1 characteristics characteristics characteristics image2 image2";
}
.room-homepage-principal {
  grid-area: principal;
  background-image: url("images/desktop-image-hero-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.room-homepage-header {
  height: 55px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.room-homepage-header ul {
  margin: 0;
  display: flex;
  align-items: center;
}
.room-homepage-header li {
  display: flex;
  list-style: none;
  height: 55px;
  align-items: center;
}
.room-homepage-header a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin: 0 25px;
  font-size: 18px;

}
.room-header-logo {
  margin-right: 30px;
}
.room-homepage-description {
  grid-area: description;
<<<<<<< HEAD
  position: relative;
}
.room-homepage-description-width {
  width: 100%;
  height: 80%;
=======
  height: inherit;
  position: relative;
>>>>>>> b21c8ba94b2a8a15e420de51bfb49ffb337811eb
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
.room-homepage-container-description {
  max-width: 500px;
=======
.room-homepage-description-container----- {
  max-width: 500px;
  display: flex;
>>>>>>> b21c8ba94b2a8a15e420de51bfb49ffb337811eb
}
.room-homepage-description-width h1 {
  font-weight: 700;
  font-size: 39px;
<<<<<<< HEAD
  margin-bottom: 25px;
=======
>>>>>>> b21c8ba94b2a8a15e420de51bfb49ffb337811eb
}
.room-homepage-description-shop-now {
  display: flex;
}
.room-homepage-description-shop-now p {
  letter-spacing: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.room-homepage-description-shop-now img {
  height: 20px;
  margin-top: 12px;
  margin-left: 30px;
}
.room-homepage-description-buttons {
  position: absolute;
  left: 0;
  bottom: 0;
}
<<<<<<< HEAD
.room-homepage-description-buttons-container {
  display: flex;
}
.room-homepage-description-svg {
  width: 75px;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
=======z
.room-homepage-description-buttons img {
  background: black;
  padding: 25px 35px;
}
.room-homepage-flexbox {

>>>>>>> b21c8ba94b2a8a15e420de51bfb49ffb33781`1eb
}
.room-homepage-footer-left-image {
  grid-area: image1;
}
.room-homepage-footer-left-image  img {
  width: 100%;
  height: 100%;
}
.room-homepage-footer-left-image  img {
  width: 100%;
  height: 100%;
}
.room-homepage-characteristics-of-the-furniture{
  grid-area: characteristics;
  display: flex;
  align-items: center;
  justify-content: center;
}
.room-homepage-characteristics-focused-content {
  width: 600px;
}
.room-homepage-characteristics-focused-content h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 17px;
}
.room-homepage-footer-right-image {
  grid-area: image2;
}
.room-homepage-footer-right-image img {
  width: 100%;
  height: 100%;
}

.room-homepage-text {
  color: hsl(0, 0%, 63%);
  font-weight: lighter;
<<<<<<< HEAD
  line-height: 25px;
=======
>>>>>>> b21c8ba94b2a8a15e420de51bfb49ffb337811eb
}